@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Edu+NSW+ACT+Foundation&family=Karla:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
body {
  height: 100vh;
  background: linear-gradient(black, grey);
  background-size: cover;
}
#mainBody {
  position: absolute;
  height: 100vh;
  width: 40vw;
  bottom: 0;
  right: 0;
  mix-blend-mode: multiply;
  transform: scaleX(-1);
}
nav {
  position: absolute;
  top: 0;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLogo {
  /* background-color: red; */
  margin: 5px;
  height: 6vh;
  width: 3vw;
}
.navTitle {
  /* background-color: yellow; */
  list-style: none;
  color: aliceblue;
  font-family: "Edu NSW ACT Foundation", cursive;
  margin: 3px;
  font-size: 1rem;
  text-shadow: 1px 1px gray;
}
.bold {
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
}
.favNavStopIcon {
  margin: 8px;
  filter: invert(1);
  display: none !important;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.favNavStopIcon:hover {
  filter: invert(0.5);
}
.centerContainer {
  position: absolute;
  top: 40px;
  height: 75vh;
  width: 100%;
  /* background-color: blueviolet; */
  margin-top: 10px;
}
.headingContainer {
  width: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-left: 20px;
}
.songsHeading {
  font-family: "Baloo Bhai 2", cursive;
  color: blanchedalmond;
  text-shadow: 2px 1px springgreen;
  border-bottom: 3px solid blanchedalmond;
  display: inline-block;
  font-size: 2rem;
}
.allsongslistContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 50%;
  height: 68vh;
  margin: 5px;
  margin-left: 60px;
  background: black;
  border: 4px solid whitesmoke;
  border-radius: 8px;
  box-shadow: 0 5px 20px 15px rgba(255, 255, 255, 0.2);
  padding: 10px;
  padding-top: 30px;
  overflow: auto;
  scroll-behavior: smooth;
}

/* Add a class for the shuffle animation */
.shuffle-animation {
  animation: shuffle 2s ease-in-out;
}

/* Define the shuffle animation keyframes */
@keyframes shuffle {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* width */
.allsongslistContainer::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.allsongslistContainer::-webkit-scrollbar-track {
  background: gray;
  box-shadow: inset 0 0 15px rgba(13, 204, 54, 0.5);
  border-radius: 10px;
}

/* Handle */
.allsongslistContainer::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 10px;
  box-shadow: inset 0 0 25px rgba(10, 10, 10, 0.8);
}

/* Handle on hover */
.allsongslistContainer::-webkit-scrollbar-thumb:hover {
  background: darkolivegreen;
  box-shadow: inset 0 0 15px rgba(8, 207, 8, 0.5);
}

.musicCasette {
  display: none;
  position: absolute;
  right: 12rem;
  top: 12rem;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-color: black;
  border: 3px solid whitesmoke;
  justify-content: center;
  align-items: center;
}
.playingToneArm {
  position: absolute;
  bottom: 4px;
  left: 23px;
  height: 150px;
  width: 150px;
  z-index: 5;
}
.playingSongCover {
  position: absolute;
  box-shadow: 3px 3px 18px 7px rgba(114, 233, 2, 0.699);
  height: 200px;
  width: 200px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 10px;
  /* object-fit: cover; */
  /* clip-path: circle(50% at center); */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.songItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 1.2rem;
  width: 90%;
  height: 28px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px 0;
  cursor: pointer;
}
.songItem:hover {
  background-color: black;
  color: white;
}
.songCover {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border: 0.1px solid black;
}
.songCover:hover {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  border: 1px solid black;
  z-index: 5;
}
.songTitle {
  width: 50%;
}
.songDuration {
  width: 8%;
}
.favsongItemIcon {
  cursor: pointer;
}
.favsongItemIcon:hover {
  /* filter: invert(0.3); */
  border: 1px solid white;
  border-radius: 50%;
  z-index: 5;
}
.bottomContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12vh;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* display: none; */
}
.songBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  transition: all 0.3s ease;
  display: none;
}
.timing {
  color: white;
  font-family: "Karla", sans-serif;
  text-shadow: 2px 1px green;
  margin: 0 10px;
  font-size: 1.1rem;
}
#songProgressBar {
  -webkit-appearance: none;
  width: 75%;
  height: 15px;
  outline: none;
  border: 3px solid black;
  border-radius: 6px;
  background: linear-gradient(90deg, green 50%, white 0%);
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.3),
    0 0 10px 8px rgba(255, 255, 255, 0.7);
  transition: all 1s ease-in-out;
}
#songProgressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 32px;
  width: 32px;
  border: 3px solid black;
  border-radius: 15px;
  background: darkgreen;
  transition: all 0.1s ease-in-out;
}
#songProgressBar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
  transition: all 1s ease-in-out;
}
#songProgressBar::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 7px rgba(126, 228, 126, 0.2);
}
#songProgressBar::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 9px rgba(90, 230, 90, 0.3);
}
.songControlIcons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  z-index: 2;
  transition: all 0.3s ease;
  display: none;
}
.favIcon {
  margin: 8px;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  filter: invert(1);
  padding: 5px;
}
.favIcon:hover {
  box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0.2);
}
.designContent {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.sideContent {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
#Left {
  position: relative;
  left: 12px;
  bottom: 10px;
}
#Right {
  position: relative;
  right: 12px;
  bottom: 10px;
}
.Speaker {
  height: 60px;
  width: 60px;
  margin: 2px 10px;
  transition: all 0.5s ease-in-out;
  /* transform: scale(1.1); */
}
.playingContent {
  width: 50%;
  position: relative;
  left: -225px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  transition: display 0.5s ease;
}
#playingIcon {
  height: 40px;
  width: 120px;
  filter: hue-rotate(50deg);
  margin: 0 10px;
  display: none;
  transition: display 0.5s ease;
}
.playingBarSongTitle {
  color: white;
  text-shadow: 2px 1px black;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 1.2rem;
  margin: 0 10px;
  display: none;
}

.otherFeaturesContent {
  position: absolute;
  bottom: 0;
  left: 1000px;
  z-index: 3;
  display: none;
  transition: display 0.5s ease;
}
#loopSong {
  filter: invert(1);
  color: black;
  display: none;
}
#autoPlay {
  display: none;
}
/* #shuffleList {
  display: none;
} */
.favGreenIcon {
  filter: none !important;
  color: forestgreen !important;
}
